# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/
env/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Mac OS
.DS_Store

# Logs and temporary files
*.log
*.tmp

# dotenv
*.env
*.exe

# Cache
.cache/
*.sqlite3